<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      throwExceptions="true"
      internalLogFile="NLog.txt" internalLogLevel="Info">

  <targets async="true">
    <target name="logINFO" xsi:type="File" concurrentWrites="false" filename="log.txt" >
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="action" layout="${event-properties:action}" IncludeEmptyValue="false"/>
        <attribute name="message" layout="${message}" encode="false" IncludeEmptyValue="false"/>
      </layout>
    </target>

    <target name="logERROR" xsi:type="File" concurrentWrites="false" filename="log.txt" >
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="action" layout="${event-properties:action}" IncludeEmptyValue="false"/>
        <attribute name="message" layout="${event-properties:message:format=@}" encode="false" IncludeEmptyValue="false"/>
        <attribute name="method" layout="${callsite:skipFrames=1:fileName=true:includeSourcePath=false}"/>
        <attribute name="exception" layout="${message}" IncludeEmptyValue="false"/>
      </layout>
    </target>

    <target name="logConsole" xsi:type="ColoredConsole"
            layout="${longdate} ${level:padding=-5} ${message} ${exception:format=tostring}"/>

  </targets>

  <rules>
    <logger name="*" levels="Info,Warn" writeTo="logConsole, logINFO" />
    <logger name="*" minlevel="Error" writeTo="logConsole, logERROR" />
  </rules>
</nlog>